{% extends 'base.html.twig' %}

{% block title %}Produto{% endblock %}

{% block body %}
    <h1>Produto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produto.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produto.description }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ produto.value }}</td>
            </tr>
        </tbody>
    </table>
    <br/>
    <h5>Lojas onde o produto é vendido</h5>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nif</th>
            </tr>
        </thead>
        <tbody>
            {% if produto.lojas | length >  0 %}
                {% for loja in produto.lojas %}
                <tr>
                    <td>{{ loja.id }}</td>
                    <td>{{ loja.name }}</td>
                    <td>{{ loja.nif }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">nenhuma loja vende este produto</td>
                </tr>
        {% endif %}
        </tbody>
    </table>
    <br/>

    <a href="{{ path('produto_index') }}">back to list</a>

    <a href="{{ path('produto_edit', {'id': produto.id}) }}">edit</a>

    {{ include('produto/_delete_form.html.twig') }}
{% endblock %}
